.user-list
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 20px // Pour un peu d'espace entre les cadres, t'sais.

.user-card
    border: 2px solid #0078D7 // Un bon vieux bleu Windows 95.
    border-radius: 10px // Les coins arrondis, ça claque.
    padding: 10px
    display: flex
    flex-direction: column
    align-items: center
    background: #FFF // Pour que ça ressorte sur le fond.
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) // Un peu d'ombre pour le style.

    .user-avatar
        position: sticky
        width: 100px // Taille de l'avatar.
        height: 100px
        margin-bottom: 10px // Un peu d'espace avant le username.
        display: flex
        justify-content: center
        align-items: center

    .user-info
        text-align: center // On centre le texte.

    h3
        margin: 0
        color: #333 // Une couleur sobre pour le nom.
        font-weight: bold // Un peu de gras sur le nom.

    .capsule-container
        position: relative
        height: 260px
        width: 200px
        // background: #d6d6d6
        // border-radius: 10px

        .capsule-image
            position: absolute
            z-index: 1
            left: 21.5%
            top: 5px
            height: 250px
            width: 120px

        .sadgotchu-sprite
            position: relative
            top: 38%
            left: 27.5%
            height: 35%

.sadgotchu-name
    display: flex
    justify-content: center
    position: relative
    top: 5px
    font-size: 20px

@keyframes floatAndTilt
    0%, 100%
        transform: translateY(0) rotate(0deg)
    25%
        transform: translateY(-5px) rotate(-3deg)
    50%
        transform: translateY(-10px) rotate(0deg)
    75%
        transform: translateY(-5px) rotate(3deg)

.user-sadgotchu
    .sadgotchu-sprite
        animation: floatAndTilt 6s ease-in-out infinite
