.button
    display: inline-flex
    gap: 0.55rem
    align-items: center
    width: max-content
    padding: 0.55rem 1.111rem
    font-family: var(--font-lato)
    font-weight: 600
    border-radius: 100px
    background-color: #154aea
    color: #fff