body
    background-color: #008080
    position: relative

    ::before
        content: ""
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        // background: repeating-linear-gradient(0deg, transparent, transparent 2px, rgba(0, 0, 0, 0.05) 2px, rgba(0, 0, 0, 0.05) 4px)
        pointer-events: none

.desktop
    padding-left: 50px
    margin: 30px

.desktop-icons
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 28px
    width: 120px
