.footer
    background-color: #C0C0C0
    border-top: 2px solid #ffffff
    position: fixed
    bottom: 38px
    left: 0
    width: 100vw
    height: 40px
    display: flex
    justify-content: space-between
    padding: 0 16px
    align-items: top

    ::before
    bottom: 10px  // Ajuste cette valeur pour agrandir le bas du background
    height: 70px  // Ajuste cette valeur pour agrandir le bas du background


.taskbar
    position: fixed
    bottom: 0
    width: 100%
    z-index: 9998
    display: flex
    gap: 8px
    margin-right: 5px

.start-button
    background-color: #ffffff
    border: none
    padding: 2px 30px
    border-radius: 4px
    font-weight: bold
    cursor: pointer
    margin-top: 2px
    margin-bottom: 30px
    margin-left: 20px

.start-text
    vertical-align: middle
    margin-top: 4px
    display: inline-block

.logo
    font-size: 24px
    vertical-align: middle
    margin-right: 5px

.time-zone
    color: #000000
    font-size: 14px
    margin-right: 48px

.separator
    color: #ffffff
    font-size: 25px
    margin: 0 5px
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)

.spacer
    flex: 1