.footer
    background-color: #C0C0C0
    border-top: 2px solid #ffffff
    position: fixed
    bottom: 38px
    left: 0
    width: 100vw
    height: 40px
    display: flex
    justify-content: space-between
    padding: 0 16px
    align-items: top

    ::before
    bottom: 10px  // Ajuste cette valeur pour agrandir le bas du background
    height: 70px  // Ajuste cette valeur pour agrandir le bas du background


// Start Button
.start-button
    background-color: #ffffff
    border: none
    padding: 2px 30px
    border-radius: 4px
    font-weight: bold
    cursor: pointer
    margin-top: 2px
    margin-bottom: 30px
    margin-left: 20px

.start-text
    vertical-align: middle
    margin-top: 4px
    display: inline-block

.logo
    font-size: 24px
    vertical-align: middle
    margin-right: 5px


// Start-Menu
.start-menu
    position: absolute
    bottom: 100% // Ça place la fenêtre juste au-dessus du footer
    left: 30px   // Aligné avec ton bouton Start
    width: 200px // Taille de la fenêtre
    background: #c0c0c0 // Couleur gris Windows 95
    border: 1px solid black
    z-index: 10  // S'assurer qu'elle passe au-dessus des autres éléments
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) // Un peu d'ombre pour le style


// Start-Menu buttons

    // SignIn/Out Button

.auth-buttons, .user-info
    display: flex
    align-items: center

.auth-icon
    width: 20px
    height: 20px
    margin-right: 10px

.sign-in-button
    width: 100%
    padding: 10px 0
    display: flex
    justify-content: flex-start
    align-items: center
    padding-left: 10px
    background: #808080
    border: none
    color: white
    cursor: pointer
    font-size: 18px

.user-info-button
    width: 100% // Prend toute la largeur de la fenêtre
    padding: 10px 0
    display: flex
    justify-content: flex-start
    align-items: center
    padding-left: 10px
    background: #808080 // Couleur de ton choix
    border: none
    color: white
    cursor: pointer
    font-size: 18px

.user-list-button
    width: 100%
    padding: 10px 0
    display: flex
    justify-content: flex-start
    align-items: center
    padding-left: 10px
    background: #808080
    border: none
    color: white
    cursor: pointer
    font-size: 18px

// A droite de la barre

.time-zone
    color: #000000
    font-size: 14px
    margin-right: 48px

.separator
    color: #ffffff
    font-size: 25px
    margin: 0 5px
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)

.spacer
    flex: 1