.window-body
    h1
        font-size: 5em
        text-decoration: underline
        text-align: justify

    h2
        font-size: 3.5em
        text-decoration: underline
        text-align: justify

    p
        font-size: 1.3em
        text-align: justify

    .welcome-section
        display: flex
        flex-direction: column
        background: #181818
        border: 2px solid #fff
        padding: 10px
        margin: 10px

    .technologies-section
        display: flex
        flex-direction: column
        align-items: center
        background: #09000a
        border: 2px solid #fff
        padding: 10px
        margin: 10px

        .technologies-table
            width: 100%
            height: 100%
            overflow: auto
            color: black
            font-weight: bold

    .partners-section
        display: flex
        flex-direction: column
        background: #181818
        border: 2px solid #fff
        padding: 10px
        margin: 10px

    .inspirations-section
        display: flex
        flex-direction: column
        background: #0c000e
        border: 2px solid #fff
        padding: 10px
        margin: 10px

    .contact-section
        display: flex
        flex-direction: column
        background: #181818
        border: 2px solid #fff
        padding: 10px
        margin: 10px

        .contactcard-section
            display: flex
            flex-direction: column
            align-items: center
            height: 100%
            width: 60%

            .card-info
                height: 80%
                background-color: #24231f
                color: #fff
                border: 2px solid #fff
                font-size: 1.2em
                padding: 20px
                border-radius: 8px
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5)

            .social-links
                margin-top: 20px
            a
                display: inline-block
                margin-right: 10px
                color: #4af
                &:hover
                    color: #e9e
