.bootsScreen
    position: fixed // Pour qu'il prenne toute la page
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: flex-start // Pour mettre le texte en haut à gauche
    justify-content: flex-start // Pour mettre le texte en haut à gauche
    background-color: #000000 // Couleur de fond à la Windows 95
    color: white // Couleur du texte
    z-index: 9999 // Pour être au tout premier plan

.textBoot
    font-size: 1.5rem // Réduction de la taille du texte
    margin: 20px // Ajout de marges pour l'espace autour du texte

.hidden
    display: none
