.window

.content

.title

.description
    // font-size: 14px
    // margin-bottom: 20px

.input
    flex: 1
    width: 320px
    height: 100px
    font-size: 14px

.buttons
    // display: flex
    // justify-content: space-between

.button
    // background: #0078d7
    // color: #fff
    // border: none
    // padding: 10px 20px
    // border-radius: 4px
    // cursor: pointer

.button:hover
    // background: #005bb5
