.window-body
    display: flex
    flex-direction: column
    gap: 10px // Espace entre les colonnes et rangées
    padding: 10px

.sections-container
    display: flex
    flex-direction: column
    gap: 10px

    // Section Presentation

.section-presentation
    display: flex
    flex-direction: row
    background: #eddcf1

.Presentations
    display: flex
    flex-direction: column
    flex: 0 0 60%
    align-items: center
    align-content: center
    justify-content: center
    gap: 10px

.ProfilePicture
    position: sticky
    display: flex
    flex-direction: column
    align-items: center
    padding: 10px
    width: 20%
    border: 2px solid #0078D7 // Un bon vieux bleu Windows 95.
    border-radius: 10px // Les coins arrondis, ça claque.
    background: #FFF // Pour que ça ressorte sur le fond.
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) // Un peu d'ombre pour le style.

.AboutMe
    display: flex
    flex-direction: column
    align-items: center
    padding: 10px
    border: 2px solid #0078D7 // Un bon vieux bleu Windows 95.
    border-radius: 10px // Les coins arrondis, ça claque.
    background: #FFF // Pour que ça ressorte sur le fond.
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) // Un peu d'ombre pour le style.


    // Style de ChatGPT

.ChatGPT
    display: flex
    flex-direction: column
    padding: 10px
    background: #000
    color: #fff
    border: 2px solid #ffffff
    justify-content: flex-end
    overflow-y: auto

.ti-cursor
  display: none !important

.message-history
    display: flex
    flex-direction: column
    gap: 5px

    .user, .assistant
        display: flex
        padding: 5px
        border-radius: 4px
        margin-bottom: 2px

    .user
        justify-content: flex-end
        background-color: #333
        gap: 10px


        p
            background: #44812c
            color: white
            padding: 5px
            border-radius: 10px

    .assistant
        justify-content: flex-start
        background-color: #111111

        p
            background: #5c5c5c
            color: white
            padding: 5px
            border-radius: 10px

.output-section
    img
        width: 50px
        height: auto
        margin-right: 10px

.message-history
    overflow-y: auto
    max-height: 400px
    gap: 5px

.avatar-message
    display: flex
    align-items: center
    gap: 10px

.avatar-image
    width: 50px
    height: auto

    //  Section Experience

.section-experience
    display: flex
    flex-direction: column
    align-items: center
    align-content: center
    justify-content: center
    background: #b8cdda
    gap: 10px

    // Section Stats

.Stats
    display: flex
    flex-direction: column
    width: 80%

.skill
    width: 100%
    margin-bottom: 10px
    display: flex
    align-items: center
    justify-content: space-between

.skill p
    flex: 1
    margin-right: 10px

.progress
    width: 100%
    height: 100%
    line-height: 20px
    text-align: center
    color: white
    border-radius: 4px
    background-color: #57b95f

.progress-bar
    width: 100%
    background-color: #7c7c7c
    height: 20px
    border-radius: 4px

    // Section GitCalendar

.GitCalendar
    border: 2px solid #000
    background: #f4f4f4
    padding: 10px
    width: 500px
    height: 300px

    // Style section en bas (timeline)

.Parcours
    flex-direction: column
    background: #b5d6ba