.window-body
    display: flex
    flex-direction: column

    .command-section
        margin-bottom: 10px

    .output-section
        display: flex
        align-items: flex-start

        img
            width: 50px // ou la taille que tu veux
            height: auto
            margin-right: 10px // pour un peu d'espace entre le GIF et le texte

// General Grid

.container
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr 1fr
    gap: 20px 0px
    grid-auto-flow: row
    align-content: center
    grid-template-areas: "Presentations" "Skills" "Parcours"
    width: 100%
    height: 100%

// Style pour l'avatar
