.window
    position: relative
    overflow: hidden // Empêche le contenu de déborder de la fenêtre

.window-body
    height: calc(100% - 80px)
    overflow: auto // Permet de scroll dans la fenêtre
    background-color: #C0C0C0
    padding: 9px


.status-bar
    position: absolute
    bottom: 5px
    width: 90%
    display: flex
    justify-content: space-between
    padding: 5px
    z-index: 0
    margin-bottom: 5px
    background-color: #C0C0C0

    @media (max-width: 600px)
        bottom: -34px