.window
    position: relative
    overflow: hidden // Empêche le contenu de déborder de la fenêtre

.window-body
    height: calc(100% - 30px)
    overflow: auto // Permet de scroll dans la fenêtre

.status-bar
    position: absolute
    bottom: 5px
    width: 89%
    display: flex
    justify-content: space-between
    padding: 5px
    z-index: 0
    background-color: #C0C0C0
    margin-bottom: 15px
