// Tailles d'écrans pour les médias queries
$small-screen: 600px
$medium-screen: 820px
$large-screen: 1024px

// Styles pour les petits écrans (téléphone)
@media screen and (max-width: $small-screen)
    body
        font-size: 14px

    .container
        max-width: 90%

        // Customise la "title-bar" sur téléphone
    .title-bar
        margin-top: 18px
        font-size: 2em

        .title-bar-controls button
            transform: scale(1.5) // Double la taille des boutons dans title-bar-controls
            margin-right: 15px


    // Styles pour la fenêtre Articles.exe en plein écran
    .window
        top: 500px
        width: 100% !important
        height: calc(100% - 80px) !important // Ajuste la hauteur pour laisser place à la Title Bar
        position: fixed !important
        user-drag: none // Désactive l'interaction avec la souris

    .window-body
        height: calc(100% - 100px)

    // Customise la "status-bar" sur téléphone
    .status-bar
        bottom: -34px
        margin-bottom: 35px
        width: 88%

// Styles pour les écrans de taille moyenne (tablettes)
@media screen and (min-width: $small-screen + 1) and (max-width: $medium-screen)
    body
        font-size: 16px

    .container
        max-width: 80%

        // Customise la "title-bar" sur tablette
    .title-bar
        font-size: 2em

        .title-bar-controls button
            transform: scale(1.5) // Double la taille des boutons dans title-bar-controls
            margin-right: 15px

        // Styles pour la fenêtre Articles.exe en plein écran
    .window
        height: calc(100% - 80px) !important // Ajuste la hauteur pour laisser place à la Title Bar

    .window-body
        height: calc(100% - 90px)

    // Customise la "status-bar" sur téléphone
    .status-bar
        bottom: -30px
        margin-bottom: 35px

// Styles pour les grands écrans (ordinateurs)
@media screen and (min-width: $medium-screen + 1) and (max-width: $large-screen)
    body
        font-size: 18px

    .container
        max-width: 70%
