.titre-sectionsarticles
    margin-bottom: 10px
    text-align: center

.upper-section, .lower-section
    display: flex
    flex-direction: column
    align-items: center
    overflow: auto // Permettre le défilement si le contenu dépasse

    span
        margin: 0 10px

    .menu
        display: flex
        flex-direction: row
        justify-content: center

    .tab
        cursor: pointer
        text-align: center
        background-color: #8a8a8b // Couleur de fond pour les onglets non actifs
        border-bottom: 2px solid #ffffff // Met en évidence l'onglet actif
        color: white
        transition: background-color 0.3s

        &.active
            background-color: #aad2eb // Couleur de fond pour l'onglet actif
            border-bottom: 2px solid #aad2eb // Met en évidence l'onglet actif
            color: #000000

            &:hover
                background-color: darken(#8a8a8b, 10%)

        li
            list-style: none

    .section-divider
        width: 100%
        height: 1px
        border-top: 1px solid #9c9c9c
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2)
        margin: 20px 0

    .table-container // Nouveau style pour le conteneur de table
        width: 100%
        height: 100%

        table.interactive
            width: 100%
            height: 100%

        th, td
            text-align: left
            padding: 8px
            border-bottom: 1px solid #000000
            position: relative

            &:not(:last-child) // Ajoute un séparateur sauf pour la dernière cellule de chaque ligne
            &:after
                content: ""
                position: absolute
                right: 0
                top: 0
                bottom: 0
                width: 1px
                background-color: #000000 // Couleur du séparateur

        th
            background-color: #aad2eb // Couleur de fond différente pour l'en-tête
            &:not(:last-child)
            &:after
                background-color: #bbb // Séparateurs un peu plus foncés pour l'en-tête

        tr
            &:hover
                background-color: #c5c5c5

    .pagination
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        padding: 10px 0

    button
        padding: 5px 10px
        cursor: pointer
        background-color: #8a8a8b
        border: none
        border-radius: 5px
        color: white

        &:disabled
            background-color: #cccccc
