
.tamagotchiWidget
    position: absolute
    top: 5%
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.tamagotchiCore
    position: absolute
    top: 9%
    right: 0%
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    img
        width: 30%
        height: 25%

.tamagotchiMenu
    position: absolute
    top: 30%
    right: 37%
    z-index: 1
    line-height: 15%

    .menuButtons
        display: flex
        flex-direction: column

.buttonOnOff, .buttonMiddle, .buttonLeft, .buttonRight
    position: absolute
    cursor: pointer
    z-index: 1

.buttonOnOff
    top: 20%
    right: 23%
    width: 6%

.buttonMiddle
    bottom: 3%
    width: 12%

.dodoSprite
    position: absolute
    top: 26%
    width: 51% !important
    height: 43% !important

.extraSpritepoop
    position: absolute
    left: 20%

.extraSpritesick
    position: absolute
    right: 30%
    top: 30%

.extraSpritehungry
    position: absolute
    right: 30%
    top: 30%

@keyframes animation-bebe
    0%, 100%
        transform: translateY(0)
    33%
        transform: translateY(-5px)
    66%
        transform: translateY(5px)

@keyframes animation-adulte
    0%, 100%
        transform: rotate(0deg)
    33%
        transform: rotate(-5deg)
    66%
        transform: rotate(5deg)

.animation-bebe
    animation: animation-bebe 1s infinite

.animation-adulte
    animation: animation-adulte 1s infinite
