
.tamagotchiWidget
    position: absolute
    top: 5%
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.tamagotchiCore
    position: absolute
    top: 9%
    right: 0%
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    img
        width: 30%
        height: 25%

.tamagotchiMenu
    position: absolute
    top: 33%
    left: 39%
    z-index: 1
    line-height: 1%

    .tamagotchiStats
        display: flex
        flex-direction: column
        align-items: center

    .tamagotchiStats > *
        margin-top: -0.05px

    .statsContainer
        width: 150%
        position: absolute
        left: -22%
        top: 95%

        .statItem
            display: flex
            flex-direction: column
            align-items: center

        .statBarContainer
            background-color: #eee // Couleur de fond de la barre
            width: 100% // Largeur maximale de la barre
            height: 10px // Hauteur de la barre

        .statBar
            width: 100%
            height: 100%
            background-color: #4caf50 // Couleur de remplissage de la barre

.menuButtonsContainer
    display: flex
    flex-direction: column
    position: absolute
    top: 38%
    align-items: center

    .menuButtonsGroup
        display: flex

    .menuButtons
        min-width: 40px

.menuButtonsReset
    width: 100%
    margin-top: 5px

.nameForm

.buttonOnOff, .buttonMiddle, .buttonLeft, .buttonRight
    position: absolute
    cursor: pointer
    z-index: 1

.buttonOnOff
    top: 20%
    right: 23%
    width: 6%

.buttonMiddle
    bottom: 3%
    width: 12%

.dodoSprite
    position: absolute
    top: 26%
    width: 51% !important
    height: 43% !important

.extraSpritepoop
    position: absolute
    left: 20%

.extraSpritesick
    position: absolute
    left: 27.5%
    top: 26%

.extraSpritehungry
    position: absolute
    right: 25%
    top: 30%

.nameForm
    display: flex
    flex-direction: column
    position: absolute
    z-index: 1
    align-items: center
    top: 33%
    width: 60%
    height: 20%
    background: #cfcee7
    border: solid

@keyframes animation-bebe
    0%, 100%
        transform: translateX(0)
    33%
        transform: translateX(-5px)
    66%
        transform: translateX(5px)

@keyframes animation-adulte
    0%, 100%
        transform: rotate(0deg)
    33%
        transform: rotate(-5deg)
    66%
        transform: rotate(5deg)

.animation-bebe
    animation: animation-bebe 3s infinite

.animation-adulte
    animation: animation-adulte 3s infinite
